<div class="footer">
    <div class="container d-flex justify-content-between">
        <div class="d-flex">
            <div>
                <img src="../../assets/e-learning.png" />
            </div>
            <ul class="d-flex flex-column">
                <li class="fw-bold">Site Map</li>
                <li>Courses</li>
                <li>Articles</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="fw-bold">Follow us<img src="../../assets/facebook.png" /></li>
                <li>E-learning</li>
            </ul>
        </div>
    </div>
</div>