<div class="container d-flex gap-5 mt-4">
    <div>
        <div style="color:#F24E1E;">
            <h1 style="font-size:150px" class="display-5">
                404
            </h1>
            <h3>
                Something went wrong!
                Check your internet connection
            </h3>
        </div>
        <button class=" mt-4 btn btn-info btn-lg" routerLink="/">Go to Home</button>
    </div>
    <div>
        <img src="../../assets/error.svg" alt="error page" />
    </div>
</div>