<div class="articleWrapper m-5">
  <div class="articleContainer m-5">
    <div>
      <img
        class="articleImage"
        style="width: 100%"
        src="https://picsum.photos/1000/500?random=1"
        alt="{{ articles[articleId - 1].name }}"
      />
    </div>
    <div>
      <h1 class="mt-5 mb-3">{{ articles[articleId - 1].name }}</h1>
      <p class="fs-5">{{ articles[articleId - 1].description }}</p>
      <small
        >By:
        <span class="fw-bold">{{
          articles[articleId - 1].teacher
        }}</span></small
      >
    </div>
  </div>
</div>
