<div class="container">
  <div class="wrapper fadeInDown mt-5">
    <div class="leftArea">
      <img class="bigImage" src="../../assets/login.png" alt="login" />
      <div class="bigText">
        Best Learning Experience
        <br />
        Comes To Your Way
      </div>
    </div>
    <div id="formContent">
      <div class="loginText">Login</div>
      <form [formGroup]="formData" class="pt-1" (ngSubmit)="onSubmit()">
        <div class="label">Email</div>
        <input
          type="email"
          id="login"
          class="fadeIn second"
          name="login"
          formControlName="email"
        />
        <br />
        <div *ngIf="formData.get('email')?.invalid">
          <div
            class="error"
            *ngIf="formData.get('email')?.errors?.['required'] && formData.get('email')?.touched"
          >
            Email is required.
          </div>
          <div
            class="error"
            *ngIf="formData.get('email')?.errors?.['email'] && formData.get('email')?.touched"
          >
            Wrong email format.
          </div>
        </div>
        <div class="label">Password</div>
        <input
          type="text"
          id="password"
          class="fadeIn third"
          name="login"
          [type]="'password'"
          formControlName="pass"
        />
        <br />
        <p
          class="error"
          *ngIf="formData.get('pass')?.invalid && formData.get('pass')?.touched"
        >
          Password is required
        </p>
        <br />
        <input
          [disabled]="!formData.valid"
          type="submit"
          class="fadeIn fourth"
          value="Login"
        />
      </form>
    </div>
  </div>
</div>
