<nav class="d-flex justify-content-between mx-4">
    <ul class="nav d-flex align-items-center justify-content-between">
        <li>
            <a routerLink="/">
                <img src="../../assets/e-learning.png" alt="image">
            </a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/courses">Courses</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/articles">Articles</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/login">Login</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/signup">Signup</a>
        </li>
    </ul>
    <div>
        <img src="../../assets/avater.png" alt="avater">
    </div>
    <div class="loader" *ngIf="loaderService.isLoading | async">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</nav>