<div class="container">
    <h1 class="my-5">Articles</h1>
    <div class="d-flex gap-5 mb-5" *ngFor=" let article of articles">
        <div>
            <img src="https://picsum.photos/200/200?random={{article.id+randNum}}" alt="{{article.name}}" />
        </div>
        <div>
            <h2>{{article.name}}</h2>
            <p class="fs-5">{{article.description}}</p>
            <small>By: <span class="fw-bold">{{article.teacher}}</span></small>
            <div>
                <a (click)="onSelect(article)" style="cursor:pointer;" class="link-secondary">Details</a>
            </div>
        </div>
    </div>
</div>