<div class="courseWrapper m-5">
  <div class="courseContainer m-5">
    <div>
      <img
        class="courseImage"
        style="width: 100%"
        src="https://picsum.photos/1000/500?random=1"
        alt="{{ courses[courseId - 1].name }}"
      />
    </div>
    <div>
      <h1 class="mt-5 mb-3">{{ courses[courseId - 1].name }}</h1>
      <p class="fs-5">{{ courses[courseId - 1].description }}</p>
      <small
        >By:
        <span class="fw-bold">{{ courses[courseId - 1].teacher }}</span></small
      >
    </div>
  </div>
</div>
