<div class="container">
  <div class="wrapper fadeInDown mt-5">
    <div class="leftArea">
      <img class="bigImage" src="../../assets/login.png" alt="signup" />
      <div class="bigText">
        Best Learning Experience
        <br />
        Comes To Your Way
      </div>
    </div>
    <div id="formContent">
      <div class="loginText">Sign Up</div>
      <form (ngSubmit)="onSubmit()" [formGroup]="formData" class="pt-1">
        <div class="label">Name</div>
        <input
          type="text"
          id="signup"
          class="fadeIn second"
          name="login"
          formControlName="name"
        />
        <div
          class="error"
          *ngIf="formData.get('name')?.invalid && formData.get('name')?.touched"
        >
          Name is required.
        </div>
        <div class="label">Email</div>
        <input
          type="email"
          id="email"
          class="fadeIn second"
          name="login"
          formControlName="email"
        />
        <div
          class="error"
          *ngIf="
            formData.get('email')?.invalid && formData.get('email')?.touched
          "
        >
          <div
            *ngIf="formData.get('email')?.errors?.['required'] && formData.get('email')?.touched"
          >
            Email is required.
          </div>
          <div
            *ngIf="formData.get('email')?.errors?.['email'] && formData.get('email')?.touched"
          >
            Wrong email format.
          </div>
        </div>
        <div class="label">Password</div>

        <input
          id="password"
          class="fadeIn third"
          name="login"
          type="password"
          formControlName="pass"
        />
        <br />
        <div
          class="error"
          *ngIf="formData.get('pass')?.invalid && formData.get('pass')?.touched"
        >
          Password is required
        </div>
        <br />
        <input
          [disabled]="!formData.valid"
          type="submit"
          class="fadeIn fourth"
          value="Sign Up"
        />
      </form>
    </div>
  </div>
</div>
