<div class="container">
    <div class="container">
        <div class="wrapper fadeInDown mt-5">
            <div id="formContent">
                <form [formGroup]="formData" class="pt-5">
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Name" formControlName="name">
                    <br>
                    <span style="color: red;" *ngIf="formData.get('name')?.invalid"> Name is required. </span>
                    <br>
                    <input
                    type="email" 
                    id="login" 
                    class="fadeIn second"
                    name="login" 
                    placeholder="Email"
                    formControlName="email" >
                    <br>
                    <div style="color: red;" *ngIf="formData.get('email')?.invalid">
                        <div *ngIf="formData.get('email')?.errors?.['required']"> Email is required.</div>
                        <div *ngIf="formData.get('email')?.errors?.['email']">Wrong email format. </div>
                    </div>
                    <input 
                    id="password"
                    class="fadeIn third" 
                    name="login" 
                    placeholder="password" 
                    type="password"
                    formControlName="pass">
                    <br>
                    <span style="color: red;" *ngIf="formData.get('pass')?.invalid"> password is required </span>
                    <br>
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>
            </div>
        </div>
    </div>
</div>